<p style="color: green"><%= notice %></p>

<%= render @chatroom %>

<div data-behavios="messages">
   <% @messages.each do |mess| %>
    <div>
    <strong><%= mess.user.username %></strong>
    :<%= mess.body %>
    </div>
   <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
<p>hello</p>
asd
  <% f.text_area :body, row: 1, class:'form-control', autofocus: true %>
<% end %> 

