<p style="color: green"><%= notice %></p>
<%= render @chatroom %>

<div>
  <%= link_to "Edit this chatroom user", edit_chatroom_chatroom_users_path(@chatroom) %> |
  <%= link_to "Back to chatroom users", chatrooms_path %>

  <%= button_to "Destroy this chatroom user", @chatroom, method: :delete %>
</div>
